@use "../foundation/variable" as var;
@use "../foundation/mixin" as m;


.l-inner{
    &__contents{
        // margin-top: 20rem;
        margin:  0 auto;
        @include m.sp{
            width: 75%;
        }
        @include m.tab{
            width: 65%;
        }
        @include m.pc{
            width: 50%;
        }
    }
    &__contact{
        // margin-top: 50rem;
         // @include m.sp{
    //     // margin-top: 55rem;
    //     padding-top: 55rem;
    // }
    // @include m.tab{
    //     // margin-top: 25rem;
    //     padding-top: 25rem;
    // }
    // @include m.pc{
    //     // margin-top: 25rem;
    //     padding-top: 25rem;
    // }
        margin:  0 auto;
        @include m.sp{
            width: 80%;
        }
        @include m.tab{
            width: 75%;
        }
        @include m.pc{
            width: 70%;
        }
    }
}
