@use "../foundation/variable" as var;
@use "../foundation/mixin" as m;


.l-inner{
    &__contents{
        // margin-top: 20rem;
        margin:  0 auto;
        @include m.sp{
            width: 85%;
        }
        @include m.tab{
            width: 65%;
        }
        @include m.pc{
            width: 50%;
        }
    }
    &__contact{
        margin:  0 auto;
        @include m.sp{
            width: 90%;
        }
        @include m.tab{
            width: 75%;
        }
        @include m.pc{
            width: 70%;
        }
    }
}
