@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;


.p-404{
    color: var.$white;
    @include m.sp{
        padding-top: 50%;     

    }
    @include m.tab{
        padding-top: 40%;     
           
    }
    @include m.pc{
        padding-top: 25%;     
    }
    &__text{
        font-size: clamp(1rem, 0.857rem + 1.786vw, 1.5rem);
    }
    &__button{
        margin-top: 5rem;
        color: var.$bubble;
        font-size: clamp(1rem, 0.857rem + 1.786vw, 1.5rem);

        > a{
            @extend .p-archive__button; // p-skills__centerのスタイルを再利用
            background-color: var.$white;
            width: 100%;
            padding: 1rem;
        }
       

    }
}