@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-about{
    color: var.$white;
    &__text{
        margin-top: 5rem;
        @include m.sp{
            line-height: 1.5rem;
        }
        @include m.tab{
            line-height: 3rem;
        }
        @include m.pc{
            line-height: 3rem;
        }

    }
}