@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;
@import "../component/c-hover";


.p-archive{
    display: flex;
    flex-wrap: wrap;
    color: var.$dark-blue;
    li{
        display: flex;
        align-items: stretch;
        padding: 1rem;
        @include m.sp{
            width: 100%;
            // margin-top: 1.5rem;
            
        }
        @include m.tab{
            width: 100%;
            // margin-top: 1.5rem;
            // display: flex;
            // align-items: stretch;
        }
        @include m.pc{
            width: 50%;
            // margin-top: 1.5rem;
            // display: flex;
            // align-items: stretch;
        }
    }
    img{
        object-fit: cover;
        height: 50%;
    }
    &__title{
        color:var.$white;
    }
    &__card{
        display: grid;
        align-items: stretch;
        height: 100%;
        background-color: var.$white;
        padding: 1.5rem;
        // margin: 2rem 1rem;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5);
        transition: all 0.3s ease 0s;
        h3{
            margin-top: 2rem;
        }
        &:hover{
            @extend .c-hover;
        }
    }
    &__button{

            margin-top: 1.2rem;
            width: 100%;
            border-radius: 1rem;
            text-align: center;
            @include m.sp{
                padding: 0.5rem;
            }
            @include m.tab{
                padding: 1rem;
            }
            @include m.pc{
                padding: 1rem;
            }

            &:hover{
                background-color: darken($font-blue, 15%);
            }
        
        
    }
    
}