@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-about{
    color: var.$white;
    // margin-top: 10rem;
    padding-top: 10rem;
    &__text{
        margin-top: 5rem;
        @include m.sp{
            line-height: 2rem;
  
        }
        @include m.tab{
            line-height: 3rem;
   
        }
        @include m.pc{
            line-height: 3rem;
        }

    }
}