@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-contact{
    margin-top: 30rem;
    // padding-top: 30rem;
    position: relative; 
    color: var.$bubble;
    height: auto;
    &__text{
        margin-top: 5rem;
        // color:var.$font-blue ;
    }  
    .snow-monkey-form{
        color: var.$bubble;
        margin:  0 auto;
        margin-top: 5rem;
        // @include m.sp{
        //     width: 80%;
        // }
        // @include m.tab{
        //     width: 75%;
        // }
        // @include m.pc{
        //     width: 70%;
        // }
        > .smf-form--business{
            background-color: #DFE9F6;
            > .smf-item__col--label{
                background-color: var.$font-blue;
            }
        }
    }
    
    &__center{
        // position: relative;
        position: absolute;
        object-fit: cover;
        width: 100%;
        top: 1rem;
        z-index: -10;
        opacity: 0;

        @include m.sp{
            min-height: 100rem;
        }
        @include m.tab{
            min-height: 100rem;
        }
        @include m.pc{
            min-height: 100rem;
        }
    }
}