@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-footer{
    text-align: center;
    @include m.sp{
        padding-top: 20rem;
    }
    @include m.tab{
        padding-top: 25rem;
    }
    @include m.pc{
        padding-top: 25rem;
    }
    small{
        padding: 1rem;
    }
}