@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-nav{
    position: fixed;
    z-index: 100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // mix-blend-mode: multiply;
    @include m.sp{
        opacity: 0;  
        right: -100%;  
    }
    @include m.tab{
        opacity: 0;
        right: -100%;            
    }
    @include m.pc{
        top: 1.5rem;
        right: 2rem;       
    }

    &.is-active{
        @include m.sp{
            // overflow: scroll;
            // overflow-y: scroll;
            overflow: hidden;
            opacity: 1; 
            top: 10%;
            right: 20%; 
            transition: all 1s ease-out;
            font-size: 1rem;

        }
        @include m.tab{
            // overflow: scroll;
            // overflow-y: scroll;
            overflow: hidden;
            opacity: 1;
            top: 15%;
            right: 20%;
            transition: all 1s ease-out;
 
        }
    }
    
    > ul {
        display: flex;
        @include m.sp{
            flex-flow: column;      
        }
        @include m.tab{
            flex-flow: column;      
        }
        > li + li {
            @include m.sp{
                margin-top: 1.5rem;
            }
            @include m.tab{
                margin-top: 3rem;
            }
            @include m.pc{
                margin-left: 1rem;
            }
        }
    }
    &--single{
        top: 3rem;
    }
    &__hamburger{
        position: fixed;
        z-index: 5;
       
        // background-color: var.$bubble;
        
        @include m.sp{
            top: 0.5rem;
            right: 1.2rem;  
            height: auto;    
        }
        @include m.tab{
            top: 2rem;
            right: 2rem; 
            width: 3rem;
            height: auto;    
        }
        @include m.pc{
            display: none;      
        }
       

        &.is-active{
            position: fixed;
            opacity: 1;
            transition: 0.6s;
            @include m.sp{
                top: 0.5rem;
                // right: 2rem;      
            }
            @include m.tab{
                top: 2rem;
                right: 2rem;     
            }
            @include m.pc{
                display: none;      
            }

        }


    }
}
