@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-nav{
    position: fixed;
    z-index: 100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // mix-blend-mode: multiply;
    @include m.sp{
        opacity: 0;  
        right: -100%;  
    }
    @include m.tab{
        opacity: 0;
        right: -100%;            
    }
    @include m.pc{
        top: 1.5rem;
        right: 2rem;       
    }

    &.is-active{
        @include m.sp{
            // overflow: scroll;
            // overflow-y: scroll;
            overflow: hidden;
            opacity: 1; 
            top: 15%;
            right: 20%; 
            transition: all 1s ease-out;

        }
        @include m.tab{
            // overflow: scroll;
            // overflow-y: scroll;
            overflow: hidden;
            opacity: 1;
            top: 15%;
            right: 20%;
            transition: all 1s ease-out;
 
        }
    }
    
    > ul {
        display: flex;
        @include m.sp{
            flex-flow: column;      
        }
        @include m.tab{
            flex-flow: column;      
        }
        > li + li {
            @include m.sp{
                margin-top: 3rem;
            }
            @include m.tab{
                margin-top: 3rem;
            }
            @include m.pc{
                margin-left: 1rem;
            }
        }
    }
    &--single{
        top: 3rem;
    }
    &__hamburger{
        position: fixed;
        z-index: 5;
        width: 3rem;
        height: 2rem;
        // background-color: var.$bubble;
        
        @include m.sp{
            top: 2rem;
            right: 2rem;      
        }
        @include m.tab{
            top: 5rem;
            right: 2rem;     
        }
        @include m.pc{
            display: none;      
        }
       

        &.is-active{
            position: fixed;
            opacity: 1;
            transition: 0.6s;
            @include m.sp{
                top: 2rem;
                right: 2rem;      
            }
            @include m.tab{
                top: 5rem;
                right: 2rem;     
            }
            @include m.pc{
                display: none;      
            }

        }


    }
}


// .Nav__btn{
//     display: block;
//     a{
//         display: block;
//         position: relative;
//         width: 50px;
//         height: 50px;
//         transition: 0.5s;

//         &.open{
//             background-color: var.$light-bule;
//             &::before{
//                 transform: rotate(-45deg);
//                 background-color: var.$white;
//                 top: 24px;
//             }
//             &::after{
//                 transform: rotate(-135deg);
//                 background-color: var.$white;
//                 top: 24px;
//             }
//             span{
//                 &::after{
//                     display: none;
//                 }
//             }    
//         }

//         &::before{
//             position: absolute;
//             top: 15px;
//             left: 14px;
//             content: "";
//             width: 23px;
//             height: 2px;
//             background-color: var.$light-bule;
//             transition: 0.2s;
//         }
//         span{
//             display: block;
//             overflow: hidden;
//             width: 1px;
//             height: 1px;
//             &::after{
//                 position: absolute;
//                 top: 24px;
//                 left: 14px;
//                 content: "";
//                 width: 23px;
//                 height: 2px;
//                 background-color: var.$light-bule;
//             }
//         }
//         &::after{
//             position: absolute;
//             bottom: 15px;
//             left: 14px;
//             content: "";
//             width: 23px;
//             height: 2px;
//             background-color: var.$light-bule;
//             transition: 0.2s;
//         }
//     }
// }
// .Nav__body{  
//     display: none;      
//     &.open{
//         display: block;
//     }

//     position: absolute;
//     top: 50px;
//     left: 0;
//     right: 0;
//     z-index: 999;
//     background-color: var.$white;
   
//     ul{
//         -webkit-box-orient: vertical; //flexboxとして設定、垂直
//         -webkit-box-direction: normal; //要素の配置を水平
//         flex-direction: column; //積み重なるように配置

//        li{
//             position: relative;

//             &.menu-item-has-children > a{
//                 &::before{
//                     display: block;
//                     content: "";
//                     position: absolute;
//                     top: 50%;
//                     right: 13px;
//                     width: 24px;
//                     height: 2px;
//                     margin-top: -1px;
//                     background-color: var.$font;
//                     z-index: 9;

//                 }
//                 &::after{
//                     display: block;
//                     content: "";
//                     position: absolute;
//                     top: 50%;
//                     right: 24px;
//                     width: 2px;
//                     height: 24px;
//                     margin-top: -12px;
//                     background-color: var.$font;
//                 }

//             }
//             a{
//                 position: relative;
                
            
//                 &:visited{
//                     color: var.$font;

//                 }
//                 &:hover{
//                     background-color: var.$hover-light;
//                 }
                
//             }

//             &.menu-item-has-children.open > a{
//                 &::before{
//                     position: absolute;
//                     top: 50%;
//                 }
//                 &::after{
//                     display: none;
//                 }

//             }
//         }


//         li a{
//             height: auto;
//             padding: 10px;
//             &:active{
//                 background-color: #F3FAFB;
//             }
//         }

//         li.Nav__special{
//             display: none;
//         }
//     }
// }
// ul.sub-menu{
//     position: static;
//     li{
//         background-color: var.$white;
//         a{
//             padding: 10px 10px 10px 25px;
//         }
//     }
// }

// }