@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;


.p-pagenation{
    margin:  0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    color: var.$white;
    @include m.sp{
        width: 80%;
    }
    @include m.tab{
        width: 75%;
    }
    @include m.pc{
        width: 70%;
    }
}