@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;


#p-skills__gallery-img{
    >img{
        @include m.sp{
            height: 5rem;
            // width: auto;
            object-fit: contain;
        }
        @include m.tab{
            // height: 5rem;
            max-height: 7rem;
            // width: auto;
            object-fit: contain;
        }
        @include m.pc{
            // height: 5rem;
            max-height: 8rem;
            // width: auto;
            object-fit: contain;
        }
    }
}

.p-skills{
    // padding-top: 12rem;
    position: relative;
    height: 110%;
    width: 100%;
    z-index: -10;
    color: $bubble;

    @include m.sp{
        margin-top: 5rem;
    }
    @include m.tab{
        margin-top: 12rem;
    }
    @include m.pc{
        max-height: 70rem;
        margin-top: 12rem;
    }
    &__contents{
        position: absolute;
        margin: 0 auto;
        
        @include m.sp{
            top: 12%;
            left: 10%;
        }
        @include m.tab{
            top: 15%;
            left: 15%;
        }
        @include m.pc{
            top: 15%;
            left: 25%;
        }

    }
    &__gallery {
        @include m.sp{
            // margin: 0 auto;
            margin-top: 5rem;
            width: 70%;
        }
        @include m.tab{
            margin: 0 auto;
            margin-top: 5rem;
        }
        @include m.pc{
            margin: 0 auto;
            margin-top: 5rem;
            // width: 70%;
        }
        .wp-element-caption{
            margin-bottom: -2rem;
            background-image: none;
        } 
        // &-img{
        //     >img{
        //         @include m.sp{
        //             height: 5rem;
        //             width: auto;
        //             object-fit: contain;
        //         }
        //     }
        // }  
    } 
    &__text{
        margin-top: 3rem;
        // color: var.$font-blue;
    }
    &__center{
        // position: relative;
        // position: absolute;
        object-fit: cover;
        width: 100%;
        z-index: -10;
        opacity: 0;
        padding-top: 15rem;

        @include m.sp{
            min-height: 80rem;
            top: 15rem;

        }
        @include m.tab{
            min-height: 70rem;
            top: 17rem;

        }
        @include m.pc{
            min-height: 75rem;
            max-width: 100rem;
            top: 15rem;
            margin: 0 auto;


        }
    }
    &__right{
        position: absolute;
        height: 75%;
        right: 0;
        z-index: -50;
        transition: all 0.5s ease 0s;

        @include m.sp{
            display: none;
        }
        @include m.tab{
            display: none;
        }
        @include m.pc{
            top: 40%;
        }
    }
    &__left{
        position: absolute;
        height: 100%;
        top: 10%;
        z-index: -50;
        @include m.sp{
            display: none;
        }
        @include m.tab{
            display: none;
        }
    }
}