@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;
// @use "../project/p-skills";

.p-single{
    position: relative;
    @include m.sp{
        margin-top: 10rem;
    }
    @include m.tab{
        margin-top: 13rem;
    }
    @include m.pc{
        margin-top: 15rem;
    }
    &__title{
        position: absolute;
        z-index: 1;
        @include m.sp{
            top: 5%;
            left: 12%;
        }
        @include m.tab{
            top: 5%;
            left: 20%;        
        }
        @include m.pc{
            top: 5%;
            left: 25%;
        }

    }
    &__text{
        color: var.$white;
        word-break: break-all;
        // margin-top: 22rem;
        @include m.sp{
            line-height: 2rem;
        }
        @include m.tab{
            line-height: 3rem;   
        }
        @include m.pc{
            line-height: 3rem;
        }
        h3{
            margin-top: 2rem;    
        }
    }
    &__image{
        &--vertical > figure > img{
            margin: 0 auto;
            @include m.sp{
                max-width: 70%;
                margin-top: 4rem;
            }
            @include m.tab{
                max-width: 60%;
                margin-top: 3.5rem;    
            }
            @include m.pc{
                max-width: 55%;
                margin-top: 3.5rem;
            }
        }
        &--sideways {
            margin-top: 7rem;
        }
    }
    
    &__center{
        @extend .p-skills__center; // p-skills__centerのスタイルを再利用
    // p-single__centerの追加スタイル
        @include m.sp{
            min-height: 52rem;
        }
        @include m.tab{
            min-height: 70rem;
        }
        @include m.pc{
            min-height: 70rem;
        }
    }
    
}