@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.p-works{
    color: var.$white;
    margin-top: 25rem;

    &__text{
        margin-top: 5rem;
        line-height: 3rem;
    }
    &__blogcard{
        > .wp-block-group__inner-container{
                // @include m.sp{
            // }
            @include m.tab{
                display:flex;
                justify-content: space-between;
            }
            @include m.pc{
                display:flex;
                justify-content: space-between;
            }
        }   
    }
}