@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;
@import "../component/c-hover";

.p-works{
    color: var.$white;

    &__text{
        margin-top: 5rem;
        line-height: 3rem;
    }
    &__panel{
        margin-top: 5rem;
    }
    &__card > .smb-panels__item{
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5);
        transition: all 0.3s ease 0s;
        h3{
            margin-top: 2rem;
        }
        &:hover{
            @extend .c-hover;
        }
    }
}