@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.c-line--marker{
    // border-bottom: solid var.$yellow 1rem;
    display: inline-block;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1rem;
        border-bottom: solid var.$yellow 0.7rem;
        animation: border_anim 0.3s linear forwards;
        // animation-delay: 0.2s;
        width: 100%;

    }
}

@keyframes border_anim {
	0%{
		width: 0%;
        // transform: translateX(0);
	}
	100%{
		width: 100%;
        // transform: translateX(100%);
	}

}

.delay-time{  
    animation-delay: 0.5s;
}


.c-line__hamburger{
    position: relative;
    width: inherit;
    height: inherit;
    // margin: 0;
    // border: 0.1rem solid var.$white;
    cursor: pointer;
    // transition: 0.5s;

    span {
        display: block;
        position: relative;
        // right: 50%;
        width: 3rem; /*線の横幅*/
        height: 0.2rem; /* 線の高さ*/
        // transform: translateX(-50%);
        background: var.$white; /*線の色*/
        // color:var.$white ;
        transition: all 0.5s;
        &:nth-of-type(1) {
            top: -0.5rem;
        }
        &:nth-of-type(2) {
            top: 0;
        }
        &:nth-of-type(3) {
            top: 0.5rem;
        }
    }


    /* is-activeクラスが付いたら、×にする */
    &.is-active span:nth-of-type(1) {
        top: 0.55rem;
        // transform: rotate(-45deg);
        transform: rotate(45deg);

    }
    &.is-active span:nth-of-type(2) {
        opacity: 0;
    }
    &.is-active span:nth-of-type(3) {
        top: 0.2rem;
        transform: rotate(135deg);
    }
  

}

// .linear{
//     transition-timing-function: liner;
// }