@use "../../foundation/variable" as var;
@use "../../foundation/mixin" as m;

.c-line--marker{
    // border-bottom: solid var.$yellow 1rem;
    display: inline-block;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1rem;
        border-bottom: solid var.$yellow 0.7rem;
        animation: border_anim 0.3s linear forwards;
        // animation-delay: 0.2s;
        width: 100%;

    }
}

.c-line__hamburger{
    position: relative;
    width: inherit;
    height: inherit;
    cursor: pointer;

    span {
        display: block;
        position: relative;
        background: var.$font-blue;
        transition: all 0.5s;
        @include m.sp{
            height: 0.1rem; 
            width: 1.5rem; 

        }
        @include m.tab{
            height: 0.2rem; 
            width: 3rem; 

        }
        


        &:nth-of-type(1) {

            @include m.sp{
                top: -0.3rem;

            }
            @include m.tab{
                top: -0.5rem;

            }
            
        }
        &:nth-of-type(2) {
            top: 0;
        }
        &:nth-of-type(3) {
            @include m.sp{
                top: 0.3rem;

            }
            @include m.tab{
                top: 0.5rem;

            }
        }
    }


    /* is-activeクラスが付いたら、×にする */
    &.is-active span:nth-of-type(1) {
        top: 0;
        transform: rotate(45deg);
    }
    &.is-active span:nth-of-type(2) {
        opacity: 0;
    }
    &.is-active span:nth-of-type(3) {
        transform: rotate(135deg);
        @include m.sp{
            top: -0.2rem;

        }
        @include m.tab{
            top: -0.4rem;

        }
    }
  

}
